.home__about {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.wrapper-about {
    margin: 30px 0;
}


.about-title h2 {
    font-size: 18px;
   
    content: "";
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    margin-bottom: 20px;
}

p {
    margin: 0 0 20px 0;
    text-align: justify;
}

.home__about__content {
    font-size: 16px;
    font-weight: 300;
}

.home__about__content h4 {
    margin: 20px 0 13px;
}

h4 p {
    font-weight: 300;
}

h4 span strong {
    font-size: 15px;
}

.home__about__content h5 {
    margin: 20px 0 13px;
}

h5 span strong {
    font-size: 15px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}