.home__about {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.home__about .container {
    width: 1200px;

}

.home__about h1 {
    font-size: 18px;
    background: #fff;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    content: "";
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    margin-bottom: 20px;
}

p {
    margin: 0 0 20px 0;
    line-height: 21px;
}

.home__about__content {
    margin: 0 20px;
    font-size: 16px;
    font-weight: 300;
}

.home__about__content h4 {
    margin: 20px 0 13px;
}

h4 p {
    font-weight: 300;
}

h4 span strong {
    font-size: 15px;
}

.home__about__content h5 {
    margin: 20px 0 13px;
}

h5 span strong {
    font-size: 15px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}