:root {
    --primary-color: #ee7214;
    --black-color: #000;
    --white-color: #fff;
    --background-color: #f7f7f9;
    --sub-color: #01a14b;
    --font-primary: font-family: 'Open Sans', sans-serif;

}


.home__contact {
    display: flex;
    justify-content: center;
}

.home__contact .container {
    width: 1200px;
    margin-top: 60px;
}

.home__contact h1 {
    font-size: 18px;
    background: #fff;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    content: "";
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    margin-bottom: 20px;
}

.home__contact__map {
    width: 100%;
}

.home__contact__map iframe {
    width: 100%;
}

.home__contact__content {
    display: flex;
    margin-top: 30px;
}


h3 {
    font-size: 22px;
    font-weight: normal;
}

p {
    margin: 0 0 20px 0;
    line-height: 21px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.home__contact__content p {
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
}

.home__contact__form {
    width: 50%;
    padding: 0 15px;
}

.contact__form input {
    padding: 8px 16px;
    font-size: 14px;
    width: 520px;
    line-height: 17px;
    border-radius: 4px;
    border-width: 1px;
    border-color: #D9D9D9;
}

.form__group {
    margin-bottom: 15px;
}

.home__contact__content .controller {
    display: block;
    width: 520px;
    height: 136px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    border-color: #D9D9D9;
    border-width: 1px;

}

.home__contact__content ::placeholder {
    font-size: 12px;
}

input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    width: 145px;
    height: 45px;
    align-items: flex-start;
    background-color: var(--primary-color);
    border-color: #D9D9D9;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    display: inline-block;
    line-height: 21.28px;
    margin: 0px 0px 35px;
    padding: 10px 32px;
    text-align: center
}

input[type=submit]:hover {
    background-color: #01a14b;
}

.home__contact__info {
    width: 50%;
}

.name__copany {}

.info__address {

    list-style: none;

}

.info__address li {
    width: 470px;
    height: 40px;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
}

.info__address i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 15px;
    padding-left: 3px;
    margin-right: 10px;
    border: 1px solid #e0e0e0;
}