@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
}



a {
    text-decoration: none;
    color: var(--black-color);
}

:root {
    --primary-color: #ee7214;
    --black-color: #000;
    --white-color: #fff;
    --background-color: #f7f7f9;
    --sub-color: #01a14b;
    --font-primary: font-family: 'Open Sans', sans-serif;

}
body {
    background-color: var(--background-color);
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* font-family: "Unbounded", sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Sriracha', cursive; */
    font-size: 100%;
}

.app {
    overflow: hidden;
}

/* NAVBAR SALE */
.navbar__sale {
    background-color: var(--primary-color);
    height: 50px;
    display: flex;
    justify-content: center;
    color: var(--white-color);
}

.topbar__sale__off {
    float: left;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.topbar__info {

    float: right;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.topbar__info a {
    color: var(--white-color);
}


/* MAIN NAVBAR */
.navbar {
    margin: 10px 0;
}

.navbar__logo {
    display: flex;
    text-align: center;
    margin: auto;

}

.navbar__logo img {
    max-width: 100%;
    height: auto;
    max-height: 50px;
    filter: grayscale(100%) brightness(20%) sepia(100%) hue-rotate(180deg);
}

.nav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
    animation: fadeIn linear 0.3s;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.navbar__mobile__main {
    transform: translateX(0%);
}

.navbar__mobile__main {
    position: fixed;
    list-style: none;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--primary-color);

    z-index: 1;
    transform: translateX(-100%);
    transition: transform linear 0.25s, opacity linear 0.25s;
}

.nav__mobile__list__item {
    margin-top: 30px;
}

.nav__mobile__menu-item {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 14px;
    border-bottom: 1px solid #beb7b7;
}

.nav__mobile__menu-item a {
    margin-left: 20px;
    color: #fff;
}

.nav-mobile-close {
    width: 40px;
    height: 40px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 10px;
    cursor: pointer;
}

.nav-mobile-close i {
    font-size: 25px;
}

.nav__list {
    float: right;

}

.nav__item i {
    list-style: none;
    font-size: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.nav__item i {
    font-size: 30px;
}

.navbar__search {
    position: relative;
    display: flex;
    margin: auto;

    justify-content: center;
}

.input-group {
    position: relative;
    display: inline-block;
}

.search__text {
    height: 40px;
    width: 100%;

    border-radius: 30px;
    border: var(--primary-color) 1px solid;
}

.search__btn {
    top: 0;
    right: 0;
    width: 40px;
    /* Kích thước của button */
    height: 100%;
    border: none;
    cursor: pointer;
    position: absolute;
    border: 1px solid var(--primary-color);
    border-radius: 0px 30px 30px 0;
    font-size: 24px;
    background: var(--primary-color);
    color: #fff;
    outline: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 20px;
}

.navbar__container .orther__navbar {
    order: 3;
}

.orther__navbar {}

.nav__bars-btn {
    width: 40px;
    height: 50px;
    font-size: 30px;
    color: var(--primary-color);
    display: none;
}



.nav__item {
    display: flex;
    float: right;
    align-items: center;
    margin: 0 5px;
    height: 50px;
}


.home__menu {
    background-color: #f7f7f9;
    display: flex;
    justify-content: center;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
}

.home__menu .container {
    padding: 5px 10px;
    align-items: center;
    width: 1200px;
    justify-content: center;
    display: flex;
}

.navbar__main {
    text-align: center;
    display: flex;
}

.nav__list {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.nav__list__item {
    display: flex;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    align-items: center;
}

.nav__menu-item {
    list-style: none;
    font-size: 16px;
    padding: 0 50px;
    align-items: center;
    color: var(--black-color);
}

.nav__menu-item:hover span {
    color: var(--primary-color);
}

.nav__menu-item:hover .dropdown__menu {
    display: block;
}

.search__text::placeholder {
    font-family: 'Open Sans', sans-serif;
    padding: 0px 10px;
}

.dropdown {
    position: relative;
}

.dropdown__menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    font-size: 14px;
    min-width: 200px;
    margin: 15px 0 0;
    text-align: left;
    list-style: none;
    border-radius: 5px;
    background: #f7f7f9;
    min-width: 200px !important;
    border: 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 3px solid var(--primary-color);
    padding: 0;
}

.dropdown__menu li {
    padding: 12px 0 10px 10px;
    border: 0;
    font-weight: 300;
    border-top: 1px dashed #c9c3c3;
}

.dropdown__menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    top: -20px;
    position: absolute;
}

.dropdown__menu li:hover a {
    color: #ee7214;
}

#slide {
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 35%;

}


.aspect-ratio-169 {
    display: block;
    position: relative;
    transition: width 1.5s, height 1.5s, transform 1.5s;
}

.aspect-ratio-169 img {
    display: block;
    width: 100%;
    max-height: 730px;
    position: absolute;

}

@keyframes fadeOutIn {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.slider__prev,
.slider__next {
    font-size: 30px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    color: var(--black-color);
    display: flex !important;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    z-index: 10;
}

.slider__prev {

    left: 0;
}

.slider__next {
    right: 0;
}

.slider__prev:hover,
.slider__next:hover {
    background: var(--primary-color);
}

.wrapper__content {
    padding: 30px auto;
}

/* HOME POLICY */
.home__policy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.home__policy__list {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home__policy__list .item__policy {
    margin-bottom: 40px;
    border-radius: 4px;
    border: 1px solid #01a14b;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__policy__item {
    max-width: 276px !important;
    margin-bottom: 30px;
}

.item__policy .icon img {
    width: 100%;
}

.item__policy .icon {
    width: 60px;
    height: 60px;
}

.home__policy__item .info {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #01a14b;
    max-width: 170px;
    width: calc(100% - 70px);
    text-align: center;
}

/* HOME NEW TAB */

.wrapper__content .home__newtab {
    background-color: #f7f7f9;
    justify-content: center;
    
}



.home__tablist {
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

}

.hnt-tab {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

}


.home__tablist .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__tablist__item {
    list-style: none;
    margin: 10px 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;


}

.home__tablist__item a {
    text-decoration: none;
    color: var(--black-color);
    -webkit-tap-highlight-color: transparent;
}

.home__product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tab__pane {
    display: flex;
    flex-wrap: wrap;
    display: none;
    width: 1200px;
    justify-content: center;
}

.tab__pane.active {
    display: block;
    display: flex;
    flex-wrap: wrap;
}

.line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: var(--primary-color);
    transition: all 0.2s ease;
}

.home__product__item {
    animation: zoom-pro 0.5s;
    transition: transform 0.2s ease-out;
    will-change: transform;

}


@keyframes zoom-pro {
    0% {
        transform: scale(0, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}


.home__product__image .img__pro {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 210px;
    width: 100%;

}

.img__pro a img {
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    max-width: 210px;
}

.home__product__detail {
    height: 55px;
    line-height: 21px;
    margin-top: 10px;
}


.home__product__image {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 210px;
    display: block;
}


.home__product__name {
    color: #212121;
    font-size: 16px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 300;
    white-space: initial;
    overflow: hidden;
    cursor: pointer;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.home__product__name a:hover {
    color: var(--primary-color);
}

.home__product__price {
    color: var(--primary-color);
    font-size: 16px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    white-space: initial;
}




.price__old {
    color: #b0b0b0;
    text-decoration-line: line-through;
}



.home__product__sale-off {
    position: absolute;
    top: 0px;
    width: 40px;
    height: 30px;
    text-align: center;
    align-items: center;
    background-color: var(--primary-color);
}


.home__product__sale-off::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent var(--primary-color) transparent var(--primary-color);
}

.home__product__percent {
    font-weight: 600;
    font-size: 14px;
    color: var(--white-color);
    position: relative;
}


.home__product__action {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    right: 0;
    top: 35%;

    color: white;
    cursor: pointer;
}

.add__cart__product:hover,
.buy__now__product:hover,
.view__product:hover {
    color: #01a14b;
    background: var(--white-color);
}



.view__product,
.buy__now__product,
.add__cart__product {
    margin: 5px 0;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.view__product i,
.buy__now__product i,
.add__cart__product i {
    font-size: 20px;
    text-align: center;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.home__product__item .home__product__action {
    transform: translateX(0);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.home__product__item:hover .home__product__action {
    transform: translateX(-20px);
    visibility: visible;
    opacity: 1;
}

.home__product__item:hover {
    transform: translateY(-2px);
}

.button__more {
    font-size: 24px;
    padding: 50px 0 20px 0;
    font-weight: bold;
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.btn__mores {
    background-color: var(--primary-color);
    align-items: center;
    text-decoration: none;
    padding: 6px 20px;
    border-radius: 4px;
    font-size: 13px;
    color: var(--white-color);

}

/* PAGE BLOG */
.home__page__blog__brieck {
    padding-top: 30px;
}



.home__page__title {
    font-size: 24px;
    padding: 50px 0 20px 0;
    font-weight: bold;
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}


.home__page__blog__content {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    height: 100%;
}



.home__page__blog__img {
    cursor: pointer;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.img__page a img {
    max-width: 100%;
    object-fit: cover;
}

a.disabled {
    pointer-events: none;
    /* Vô hiệu hóa sự kiện chuột */
    cursor: default;
    /* Thay đổi con trỏ chuột thành kiểu mặc định */
    color: inherit;
    /* Giữ màu văn bản mặc định */
    text-decoration: none;
    /* Loại bỏ gạch chân */
}

.home__page__blog__detail {
    text-align: left;
    padding: 15px 8px 30px;
    border-bottom: 1px solid rgb(229, 229, 229);
}


.home__blog__name a {
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    word-wrap: wrap;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}


.home__blog__desc {
    color: #666;
    font-weight: 300;
    padding-top: 15px;
    font-size: 14px;
    text-align: justify;
    white-space: initial;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}



.control {
    position: absolute;
    top: 50%;
    z-index: 1;
    /* background-color: var(--primary-color); */
    align-items: center;
    text-align: center;
    color: var(--white-color);
    border-radius: 5px;
    transform: translateY(50%);
}


.swiper-button-prev,
.swiper-button-next {
    cursor: pointer !important;
    color: var(--white-color) !important;
    font-size: 16px !important;
    font-weight: bold;
    width: 40px !important;
    height: 40px !important;
    background: var(--primary-color);

}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px !important;
    display: unset;

}

.swiper-button-prev {
    left: 0px !important;

}

.swiper-button-next {
    right: 0px !important;
}

/* FOOTERRR */



.footer__logo img a {
    max-width: 100%;
    height: auto;
    max-height: 50px;
    filter: grayscale(100%) brightness(20%) sepia(100%) hue-rotate(180deg);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    
}

.contact-footer,
.policy-footer,
.link-footer {
    margin-bottom: 30px;
}


.form-sub {
    width: 100%;
}

.policy-footer .footer-sub .btc-imgages a img {
    max-width: 100%;
}



.policy-footer p {
    max-width: 300px;
    color: #ffffff;
    margin-bottom: 0;
    font-size: 14px;
}

.form-subcribe {
    position: relative;
    display: block;
    padding: 10px 8px;
}

.subcribe-input {
    position: relative;
    display: block;
    width: 240px;
}

.subcribe-input .input-sub {
    padding: 5px 40px 5px 15px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    border-radius: 25px;
    width: 100%;
}

.sub-submit {
position: absolute;
    /* right: 1px; */
    top: 1px;
    border-radius: 0 25px 25px 0px;
    background-color: #01a14b;
    padding: 7px;
    right: -56px;
}

.footer-block .footer-title {
    margin: 0px 0 20px;
    font-size: 14px;
    line-height: 1.25;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-block ul li {
    list-style: none;
}
.footer-block  {
    margin-bottom: 20px;
}

.contact-footer .logo__footer a img {
    max-width: 150px;
}

.contact-footer p i {
    font-size: 24px;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.contact-footer p span {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 61px);
    font-size: 18px;
    line-height: 1.5;
}

.contact-footer p {
    margin: 0 0 25px;
    font-size: 14px;
}

.policy-footer .footer-block ul li {
    margin: 8px 0 0;
    font-size: 15px;
}

.policy-footer .footer-block ul li a {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.link-footer .footer-social {
    margin-top: 40px;
}

.icon-footer {
    display: flex;
}

.icon-footer a {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    padding: 3px 3px;

}

.icon-footer a i {
    width: 40px;
    height: 40px;
    text-align: center;
    background: #fff;
    color: #222;
    line-height: 40px;
    display: block;
    -webkit-transition: all 0.3s cubic-bezier(0.360, -0.055, 0.000, 1.220);
    -o-transition: all 0.3s cubic-bezier(0.360, -0.055, 0.000, 1.220);
    transition: all 0.3s cubic-bezier(0.360, -0.055, 0.000, 1.220);
    font-size: 24px;
    border-radius: 4px;

}